*{
    margin: 0px;
    padding: 0px;
    font-family: 'Varela Round', sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

:root {
    --bg-clr: #1f2527;
    --cyan-text: rgb(174,246,226);
    --pinkish-text: rgb(246,173,190);
    --yelloish-text: rgb(248,227,164);
}

.not-selectable {
    user-select: none;
}

body {
    background-color: var(--bg-clr);
    overflow-x: hidden;
}

.preload-body {
    position: fixed;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: rgb(54, 66, 66);
    background-size: 100%;
    transition: all 1s ease-out;
    text-align: center;

    img {
        opacity: 0;
        position: relative;
        top: 25vh;
        height: 250px;
        border-radius: 360px;
        box-shadow: 0 0 20px 5px rgb(181,172,255);
        transition: opacity 1s ease-out;
    }

    .preload-circle {
        opacity: 0;
        top: 25vh;
    }
}

.navbar {
    position: fixed;
    display: inline-flex;
    top: -80px;
    z-index: 1;
    width: 100%;
    height: 58px;
    background: var(--pinkish-text);
    box-shadow: 0 4px 10px black;
    transition: all 0.5s;

    h1 {
        font-family: 'UD Digi Kyokasho N-R';
        padding-left: 10px;
        padding-top: 10px;
    }

    img {
        height: 40px;
        padding: 5px;
    }

    .navbar-btn {
        display: inline-flex;
        position: absolute;
        right: 20px;

        span {
            display: inline-flex;
            cursor: pointer;

            .navbar-btn-text-ds {
                padding-top: 18px;
                white-space: nowrap;
                width: 0;
                overflow: hidden;
                transition: all 0.2s;
            }

            .navbar-btn-text-fb {
                padding-top: 18px;
                white-space: nowrap;
                width: 0;
                overflow: hidden;
                transition: all 0.2s;
            }
        }

        span:hover .navbar-btn-text-ds { 
            width: 125px; 
        }

        span:hover .navbar-btn-text-fb { 
            width: 160px; 
        }
    }
}

.banner {
    background-color: rgba(251, 211, 218, 0.8);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
    width: 1200px;
    height: 290px;
    border: 10px solid cyan;
    border-radius: 50px;
    box-shadow: 0 0 30px 10px cyan, 0 0 20px 5px cyan inset, 0 -50px 10000px 100px rgba(251, 211, 218, 0.63);

    .wrapper {
        cursor: default;
        position: absolute;
        top: 90px;
        margin-left: 70px;

        h2 {
            color: maroon;
            font-size: 20px;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        }

        .parallelogram {
            margin: 0px;
            padding: 0px;
            width: 550px;
            height: 120px;
            transform: skew(-20deg);
            box-shadow: 0 0 2vmax cyan inset;
            border: 7px solid cyan;
            border-radius: 20px;
        }

        .erisu-text{
            position: relative;
            font-size: 75px;
            bottom: 110px;
            left: 25px;
            padding: 0px;
            color: transparent;
            font-family: 'UD Digi Kyokasho N-R';
            -webkit-text-stroke: 7px transparent;
            background-clip: text;
            -webkit-background-clip: text;

            background-image: linear-gradient(45deg, var(--cyan-text), var(--pinkish-text), var(--yelloish-text), var(--cyan-text), var(--pinkish-text),var(--yelloish-text));
            background-repeat: no-repeat;
            background-position: 20% 100%;
            background-size: 200% 200%;
            animation: banner-text-loop 10s infinite;
        }   
    }

    .link {
        position:relative;
        cursor: pointer;
        bottom: -85px;
        left: 50px;
        height: 65px;
        width: 350px;
        border-bottom-left-radius: 360px;
        border-bottom-right-radius: 360px;
        border-top-left-radius: 360px;
    }

    .discord-link {
        margin-top: -40px;
        margin-bottom: 40px;
        margin-left: 650px;
        padding: 0px;

        .discord-banner {
            background-color: rgba(0, 189, 189, 0.616);
            box-shadow: 0 0 10px 5px cyan,
            inset 0 0 5px 5px cyan;
            border: 5px solid cyan;
            transition: all 0.3s;

            img {
                position: inherit;
                bottom: 15px;
                right: 20px;
                height: 60px;
                width: 60px;
                padding: 3.2px;
                border: 15px double cyan;
                border-radius: 50px;
                box-shadow: 0 0 10px 5px cyan,
                inset 0 0 5px 5px cyan;
            }
    
            p {
                position: inherit;
                bottom: 75px;
                left: 95px;
                font-size: 20px;
            }
        }

        .discord-banner:hover {
            box-shadow: 0 0 10px 5px rgb(203, 255, 255),
            inset 0 0 5px 5px rgb(203, 255, 255);
            border: 5px solid rgb(203, 255, 255);
            width: 360px;
        }

        .discord-banner:active {
            box-shadow: 0 0 10px 5px white,
            inset 0 0 5px 5px white;
            border: 5px solid white;
        }
    }
    
    .facebook-link {
        margin-left: 750px;
        padding: 0px;

        .facebook-banner {
            background-color: rgba(189, 186, 0, 0.616);
            box-shadow: 0 0 10px 5px yellow,
            inset 0 0 5px 5px yellow;
            border: 5px solid yellow;
            transition: all 0.3s;

            img {
                position: inherit;
                bottom: 15px;
                right: 20px;
                height: 60px;
                width: 60px;
                padding: 3.2px;
                border: 15px double yellow;
                border-radius: 50px;
                box-shadow: 0 0 10px 5px yellow,
                inset 0 0 5px 5px yellow;
            }
    
            p {
                position: inherit;
                bottom: 80px;
                left: 95px;
                font-size: 28px;
            }
        }

        .facebook-banner:hover {
            box-shadow: 0 0 10px 5px rgb(255, 255, 203),
            inset 0 0 5px 5px rgb(255, 255, 203);
            border: 5px solid rgb(255, 255, 203);
            width: 360px;
        }

        .facebook-banner:active {
            box-shadow: 0 0 10px 5px white,
            inset 0 0 5px 5px white;
            border: 5px solid white;
        }
    }

}

.container {
    width: 1200px;
    margin: auto;
    margin-bottom: 180px;

    .qoute {
        border: 1px solid white;
        border-radius: 10px;
        padding: 5px;
    }

    .paragraph {
        transition: all 2s !important;
        border-radius: 10px;
        height: 210px;
        padding: 20px;
        overflow-x: hidden;
        box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.4) inset;
    }
    .paragraph::-webkit-scrollbar{
        display: none;
    }
    .paragraph:hover {
        box-shadow: 0 0 10px 1px rgba(0, 255, 255, 0.5);
    }

    a {
        color: pink;
    }

    .blog {
        display: inline-flex;
        color: white;
        margin-bottom: 80px;

        img {
            cursor: pointer;
            margin-right: 20px;
            height: 350px;
            border-radius: 20px;
            box-shadow: 0 0 5px 1px rgba(255, 159, 231, 0.664);
            transition: box-shadow 0.2s;
        }

        img:hover
        {
            box-shadow: 0 0 20px 5px rgba(255, 159, 231, 0.664);
        }

    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    text-align: center;
    height: 180px;
    padding-top: 30px;
    box-shadow: 0 4px 10px black inset;
    background-color: #3e4649;

    a {
        text-decoration: none;
        color: pink;
    }

    button {
        cursor: pointer;
        padding: 5px;
        border: none;
        transition: all 0.5s;
    }

    button:hover {
        color: black;
        background: pink;
        box-shadow: 0 0 10px 5px pink;
    } 

    img {
        position: relative;
        height: 20px;
        top: 5px;
    }
}

.mobile-footer {
    height: 500px;
    font-size: 60px;

    p {
        font-size: 40px !important;
    }

    button {
        padding-left: 200px;
        padding-right: 200px;
        padding-top: 50px;
        padding-bottom: 50px;
        margin: -50px;
        font-size: 40px;
    }

    button:focus {
        outline: none;
        box-shadow: none;
        background: white;
      }

    img {
        height: 60px;
    }
}

@keyframes banner-text-loop {
    0%{background-position:0% 20%}
    25%{background-position:50% 40%}
    50%{background-position:100% 20%}
    75%{background-position:50% 80%}
    100%{background-position:0% 10%}
}